body {
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#body-header {
	height: 65vh;
	background-image: url(image/coder.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
}

.horizontal-list {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	padding-top: 20px;
}

.horizontal-list li {
	display: inline-block;
	margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
	color: white;
	text-decoration: none;
}

.nav-menu li a{
	transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
	color: lightgrey;
	border-bottom: 1px solid white;;
}

.text-center {
	text-align: center;
}

#name-social-container {
	margin-top: 20vh;
}

#my-name {
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
	animation: moveRight 1s ease-out;
}

.social-icons li a i {
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
	animation: moveLeft 1s ease-out;
}

.social-icons li a i:hover {
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

section {
	width: 100%;
	/*height: 75vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n) {
	background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
	background-color: white;
}

.section-heading {
	width: auto;
	padding: 20px 10px 10px;
	margin: 10px auto;
	font-weight: 400;
}

.section-heading span {
	font-size: var(--section-heading-font-size);
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
/*About us portion*/

#about {
	height: auto;
	width: 100%;
	position: relative;
}

#my-image {
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
	animation: moveUp 1s ease-out;
}

#my-image img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
	padding: 10px;
	width: 70%;
	height: 100%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	color: grey;
	line-height: 28px;
	font-weight: 100;
	font-size: 1.1rem;
}

#skills {
	padding-bottom: 30px;
}

.skills-display {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.skill-progress {
	width: 7rem;
	height: 1.4rem;
	background-color: lightgrey;
	border-radius: 0.8rem;
	margin: 20px 50px 20px 50px;
}

.eighty-five-percent {
	width: 85%;
	height: inherit;
}

.seventy-five-percent {
	width: 75%;
	height: inherit;
}

.sixty-five-percent {
	width: 65%;
	height: inherit;
}

.fifty-percent {
	width: 50%;
	height: inherit;
}

.eighty-percent {
	width: 80%;
	height: inherit;
}

.fourty-percent {
	width: 40%;
	height: inherit;
}

.skill-progress>div {
	border-radius: 20px 0px 0px 20px;
}

.skill-name span{
	color: white;
	font-size: 1rem;
	margin-left: 10px;
}

.mb75px {
	margin-bottom: 55px;
}

.text-highlight {
	color: #2857a4;
	font-weight: 600;
}

.mb-blue {
	background-color: #2857a4;
}

.mb-yellow {
	background-color: gold;
}

.mb-darkslateblue {
	background-color: darkslateblue;
}

.mb-grey {
	background-color: grey;
}

.mb-lightblue {
	background-color: royalblue;
}

.mb-green {
	background-color: limegreen;
}

.mb-orange {
	background-color: orangered;
}

.mb-darkblue {
	background-color: indigo;
}

.timeline {
	position: relative;
	width: 75%;
	/*border: 2px solid black;*/
}

.timeline-box {
	position: relative;
	margin: 5px;
	width: 40%;
	left: 5%;
	min-height: 150px;
	/*border: 2px solid black;*/
}

.timeline-box:nth-child(2n) {
	left: 53%;
}

.timeline-box:nth-child(2n + 1)::after {
	content: '';
	position: absolute;
	top: 30%;
	right: -13%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}

.timeline-box:nth-child(2n)::after {
	content: '';
	position: absolute;
	top: 30%;
	left: -9%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}

.timeline-divider {
	position: absolute;
	height: 75%;
	width: 0;
	border: 3px dashed #0096fa6b;
	top: 10%;
	left: 50%;
}

.timeline-traveller {
	position: sticky;
	top: 30%;
	transform: rotate(90deg);
	z-index: 2;
}


.fas {
	font-size: 30px;
}





/*skill from old resume */
.skill-row {
  width: 50%;
  margin: auto;
}

.skl-big {
  width: 25%;
}

.skl-head {
	margin-top: 5px;
	margin-bottom: 5px;
}

.skl-para {
	margin-top: 0px;
}

/*Animation*/
@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}